### project files ###
sql_update.txt
dev_bookx_files.json
test.json
vendor
commits.md
### vscode ###
.vscode

### NetBeans ###
nbproject
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
*.netbeans

### linux ###
.directory

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
